@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

body{
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	color: #000;
}
