


.lato{	font-family: 'Lato', sans-serif;}
p{
	text-align: justify;
}

p span{

}

.btn-orcamento1{
	padding: 2px 10px;
    border-radius: 0px;
    color: #186c96;
}


.bg_topo{
	background: url(../imgs/bg_topo01.png)top center no-repeat;
	min-height: 144px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

.bg_topo .telefone_topo{
	font-size: 18px;
	color: #fff !important;
	font-weight: 700;
}

.btn_orcamento{
	background: #0374ae;
	color: #fff;
}

.bg_empresa_home{
	position: relative;
	background: url(../imgs/bg_empresa_home.jpg)top center no-repeat;
}

.bg_empresa_home_geral{
	background: url(../imgs/bg_empresa_home_geral.jpg)top center no-repeat;
	min-height: 513px;
} 

.bg_categorias{

}

.empresa_home h6{
	font-size: .75rem /* 12/16 */;
	color: #8f9092;
	font-weight: 600;
}



.empresa_home h3{
	font-size: 1.88rem /* 30/16 */;
	color: #8f9092;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 29px;
}

.empresa_home .porifolio_home h6,
.empresa_home .porifolio_home h3{
	color: #fff;
}

.empresa_home p{
	font-size: 1.13rem /* 18/16 */;
	color: #5a5a5b;
	letter-spacing: -1px;
	line-height: 1.5rem /* 24/16 */;
	font-weight: 600;
}

.btn_empresa_home{
	border-radius: 0;
	background: #22adc3;
	border: 0;
	font-weight: 300;
}

.desc_home{
	overflow: hidden;
	height:215px;
}

.geral_empresa p{
	color: #fff;
	font-weight: 400;
}

.geral_empresa .desc_home{
	margin-right: 66px;
	height: 196px;
}


.bg_produtos_home h5 span{
	color: #8f9092;
}

.desc_titulo_home{
	overflow: hidden;
	height: 20px;
}


.bg_empresa_geral{
	background: url(../imgs/fundo_empresa.jpg)no-repeat center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
	min-height: 520px;
}

.empresa_geral h3 {
    font-size: 1.88rem /* 30/16 */;
    color: #8f9092;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 24px;
}

.empresa_geral h6 {
    font-size: .75rem /* 12/16 */;
    color: #8f9092;
    font-weight: 600;
}

.empresa_geral p{
	color: #8f9092;
}

.empresa_geral h4{
	color: #ffcb29;
	font-weight: 600;
}

.politica{
	background: url(../imgs/bg_politica.jpg)top center no-repeat;
	min-height: 26.31rem /* 421/16 */;
}

.bg_fundo_empresa01{
	background: url(../imgs/fundo_empresa01.jpg)top center no-repeat;
	min-height: 29.38rem /* 470/16 */;
}

.politica p{
	color: #363637;
}

.btn_formulario {
	background: #03b3d9;
	font-size: 1.13rem /* 18/16 */;
	font-weight: 500;
	border-radius: 0;
	border: 0;
}

.bg_contatos{
	background: url(../imgs/fundo_contato.jpg)top center no-repeat;
	min-height: 34.38rem /* 550/16 */;
}



.ajuste_hover{
	left: 33px;
width: 300px;
height: 363px;
top: 33px;

}

.ajuste_carrocel{
padding: 12px;
}

.position_barra_hover_prod{
	width: 286px !important;
	margin-top: 0;
}

.bg_cinza{
	background: #f8f8f8;
}

.bg_especificacoes{
	background: url(../imgs/barra_espeificacoes.png)top 40px center no-repeat;
	min-height: 6.25rem /* 100/16 */;
}


.btn_azul {
    border-radius: 0;
    background: #22adc3;
    border: 0;
		color: #fff !important;
    font-weight: 300;
}

.fundo_orcamento{
	position: relative;
}

.float_text{
	position: absolute;
	bottom: 0;
}

.fundo_vantagens{
	background: url(../imgs/fundo_vantagens.jpg)top center no-repeat;
	min-height:32.56rem /* 521/16 */;
}

.geral .titulo_table th{
	background: url(../imgs/bg_degrader.png) !important;
	border: 0 !important;
}

.geral .table .titulo_table{
	margin: 0;
}

.geral .titulo_table1 th{
	background: #c9cbcb ;
	border: 0 ;
	font-weight:400;
}

.geral .table tbody tr th {
	font-size: .75rem /* 12/16 */ !important;
padding: 0;
line-height: 14px;
}

.border_right{
	border-right: 1px solid #5fbbda;
	padding-right: 10px;
}


.btn-azul-2{
	background: #118aa4;
	color: #fff;
}

.text-cinza{
	color: #8f9092 !important;
}

.linha-amarela-mapa-orcamento{
	background: url(../imgs/bg-linha-amarela.jpg) top center no-repeat;
	padding-top: 6px;
}

.ajuste_cat1{
	padding-left: 0;
}

.ajuste_cat1 a{
	display: table-cell;
	padding-top: 114px;
}