
/**
============================================
rodape
============================================
*/

.scrollup{width:65px;height:65px;opacity:0.3;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}

/**
============================================
rodape
============================================
*/



.rodape{
	background: url(../imgs/bg-rodape.jpg)top center no-repeat; 
	min-height: 167px /* 187/16 */;
}

.rodape1{
	background: url(../imgs/bg_rodape_new.jpg)top center no-repeat; 
	min-height: 13.63rem /* 218/16 */;
}

.rodape .nav .nav-item .nav-link,
.rodape1 .nav .nav-item .nav-link{
	font-size: .94rem /* 15/16 */;
	color: #414140;
	letter-spacing: -1px;
	font-weight: 600;
}

.rodape .nav .nav-item .nav-link:hover,
.rodape1 .nav .nav-item .nav-link:hover,
.rodape .nav .nav-item .nav-link.active,
.rodape1 .nav .nav-item .nav-link.active{
	color: #6a519a;
}

.redes a{
	color: #2c2c2c;
}

.rodape_azul{
	background: #0374ae;
	height: 2.88rem /* 46/16 */;
}



.telefone_rodape .col-6{
	color: #0374ae;
	font-size:1.13rem /* 18/16 */;
	line-height: 1;
	font-weight: 600;
}

.telefone_rodape .col-6 span{
	color: #414140;
	font-size:.75rem /* 12/16 */;
	margin-left: 36px;
	font-weight: 600;
}


.telefone_rodape .svg-inline--fa.fa-fw,.telefone_rodape .svg-inline--fa.fa-w-14 {
    color: #000 !important ;
}

.endereco_topo p{
	color: #414140;
	font-size: .88rem /* 14/16 */;
}

/**
============================================
topo
============================================
*/

.menu_topo .navbar-nav > li > a {

}

.menu_topo .navbar-light .navbar-nav .nav-link{
	color: #fff;
	background: none;
}

.menu_topo .navbar-light .navbar-nav .active>.nav-link,
.menu_topo .navbar-light .navbar-nav .nav-link:hover{
	color: #fff;
	border-bottom: 3px solid #ffcc29;
	background: none;
}

.menu_topo .nav-link1,.menu_topo .nav-link1:hover {
	display: block;
	padding: 3px;
	background: none;
	color: #fff;
}

.menu_topo .navbar-nav > li > a {
    padding: 3px;
}

/**
============================================
topo
============================================
*/



.menu-rodape li a{
	font-size: 16px;
	color: #414140;
	float: left;
	margin-right: 15px;
}


.telefones{
	font-weight: 600;
}