/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width   :100%;
	height  :675px;
	margin  :0px auto;
	overflow: hidden;
	position: relative;
	margin-top: 0px;
	position: relative;

}

#content_slider {
	width      :1920px;
	height     :675px;
	overflow   :hidden;
	position   :relative;
	margin-left:-960px;
	top        :0px;
	left       :50%;
}



/*arrow personalizados*/
#container_banner .rsArrowLeft {
	display: block;
	width: 0;
	height: 0;
	background: url(../imgs/arrow_left.png) center no-repeat;
	z-index: 999;
	top: 280px;
	position: absolute;
	left: 5px;
}


#container_banner .rsArrowRight {
	display: block;
	width: 0;
	height: 0;
	background: url(../imgs/arrow_right.png) center no-repeat;
	z-index: 999;
	top: 280px;
	position: absolute;
	right: 5px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- flexslider  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.lista_categorias .flexslider {
    margin: 0 0 0px;
    background: #ebe7e8;
    border: 0;
}

.lista_categorias #slider1 .slides li a {
    font-size: 12px;
    color: #8f9092;
    border-right: 1px solid #8f9092;
    margin: 0;
		font-weight: 400;
		border-radius: 0;
}



.lista_categorias #slider1 .slides li a span {
    width: 100px !important;
}

.todas_cat {
    color: #8f9092 ;
}

.produto-hover {
  left: 44px;
  background: url(../imgs/fundo_prod.png)no-repeat;
  width: 300px;
  height: 363px;
  position: absolute;
  top: 39px;
  opacity: 0;
  padding-left: 47px;
}

.produto-hover a{
  color: #fff;
	display: block;
	height: 344px;
	padding-top: 107px;

}

.produto-hover a:hover{
  color: #ffcc29;
}

.produto_hover_cat{
	padding-left: 0;
}

.seta_cat{
	position: absolute;
	right: 2px;
	top: 0px;
}

.custom-navigation1{
	background: #ebe7e8;
	width: 80px;
	height: 45px;
	padding: 10px 15px;
}

.custom-navigation1 a{
	color: #979595;
}

.lista_categorias #slider1 .slides li.active a{
	color: #fff;
	background: #22adc3;
}

.lista_categorias #slider1 .slides li a:hover{
    color: #fff;
		background: #22adc3;
}

.lista_categorias .flex-direction-nav a {
    top: 32%;
		margin: -21px -37px 0;
}


.carroucel_produtos .card{
border: 0;
background: #f8f8f8;
padding: 22px;
margin-right: 6px;
}

.carroucel_produtos .card-body{
  background: #f8f8f8;
}
.position_barra_hover {
    width: 286px !important;
    margin-top: -7px;
}

.lista_produtos_home .flexslider{
  margin: 0;
	border: 0;
	background: none;
}


.custom-navigation a,.custom-navigation1 a{
	color: #bfc1c4;
	z-index: 99;
}

.custom-navigation a :hover,.custom-navigation1 a:hover{
	color: #ffcc29;
}

.portfolio .card{
border: 0;
background: none;;
padding: 0;
margin-right: 6px;
}

#slider_carousel_portifolio .flex-direction-nav .flex-prev {
    left: 26px;
}

#slider_carousel_portifolio .flex-direction-nav .flex-next {
    right: 44px;
    text-align: right;
}

.slider_prod_geral .flexslider {
    margin: 0px;
    margin-top: 1.25rem;
    background: #f8f8f8;
    border: 0;
    z-index: 9;
}

.slider_prod_geral .slider-prod li img:hover {
    cursor: -webkit-zoom-in;
}

.slider_prod_geral .slider-prod-tumb li img:hover,
.slider_prod_geral .slider-prod-tumb li .active img {
    opacity: 1;
    border: 1px solid #001d33;
}

#carousel .flex-active-slide img {
    opacity: .6	;
    cursor: default;
}

.slider_prod_geral .slider-prod-tumb li img{
height: 60px !important;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- flexslider  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- EFFECT JULIA  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

figure.effect-julia:hover {
  background: #2f3238;
}



.lista-produto .grid figure figcaption {
  padding: 4em 3.9em;
}

.lista-produto figure a, .lista-produto figure a:hover {
  color: #c9cbd1;
	background: none;
}

.lista-produto figure a:hover {
  color: #ffcd2b;
}

.portfolio figure.effect-julia p {
    background: none !important;
}

.portfolio .grid figure {
    min-width: 346px !important;
}
