/* ============= RESET ============= */
* { margin: 0px; padding: 0px; font-size: 100%; border: none; outline: none;; font-weight: 400; box-sizing: border-box;letter-spacing: 0;}
/* ============= RESET ============= */

/* ============= FONTS ============= */
/* @font-face {
font-family: 'Open Sans', sans-serif;
src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
} */

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800');
}

@font-face {
  font-family: 'Raleway';
  src : url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900');
}

@font-face {
  font-family: 'Cabin';
  src : url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
}

/* @font-face {
font-family: 'Lato', sans-serif;
src: url('http://fonts.googleapis.com/css?family=Lato:300,400,700');
} */

body{font-family: 'Cabin';font-weight: 400;color: #000;}
/* ============= FONTS ============= */



/* ============= COLUNAS ORDER ============= */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
}
.col {-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;}
.order-12 {-ms-flex-order: 12;order: 12;}
.order-1 {-ms-flex-order: 1;order: 1;}


/* ============= COLUNAS ============= */
.row::after {
  content: "";
  clear: both;
  display: flex;
}
[class*="col-"] {
  float: left;
  padding-left:  8px;
  padding-right:  8px;

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* ============= COLUNAS ============= */

/* ============= OFFSET COLUNAS ============= */
.col-offset-1{margin-left: 8.33%;}
.col-offset-2{margin-left: 16.66%;}
.col-offset-3{margin-left: 25%;}
.col-offset-4{margin-left: 33.33%;}
.col-offset-5{margin-left: 41.66%;}
.col-offset-6{margin-left: 50%;}
.col-offset-7{margin-left: 58.33%;}
.col-offset-8{margin-left: 66.66%;}
.col-offset-9{margin-left: 75%;}
.col-offset-10{margin-left: 83.33%;}
.col-offset-11{margin-left: 91.66%;}
.col-offset-12{margin-left: 100%;}

.ml-25{margin-left: 25%;}
.ml-50{margin-left: 50%;}
.ml-75{margin-left: 75%;}
.ml-100{margin-left: 100%;}

.input100{width: 100%;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.clearfix{clear: both;}
.img-circle{border-radius: 50%;}

.top2{margin-top: 2px;}
.top3{margin-top: 3px;}
.top5{margin-top: 5px;}
.top10{margin-top: 10px;}
.top15{margin-top: 15px;}
.top20{margin-top: 20px;}
.top25{margin-top: 25px;}
.top30{margin-top: 30px;}
.top35{margin-top: 35px;}
.top40{margin-top: 40px;}
.top45{margin-top: 45px;}
.top50{margin-top: 50px;}
.top60{margin-top: 60px;}
.top70{margin-top: 70px;}
.top80{margin-top: 80px;}
.top110{margin-top: 110px;}
.top135{margin-top: 135px;}
.top140{margin-top: 140px;}
.top145{margin-top: 145px;}
.top165{margin-top: 165px;}

.top_Futuante6{margin-top: 6%;}

.mg0{margin: 0;}
.w-25 {width: 25%;}
.w-50 {width: 50%;}
.w-75 {width: 75%;}
.w-100 {width: 100%;}

.bottom10{margin-bottom: 10px;}
.bottom20{margin-bottom: 20px;}
.bottom25{margin-bottom: 25px;}
.bottom50{margin-bottom: 50px;}
.bottom60{margin-bottom: 60px;}
.bottom80{margin-bottom: 80px;}
.bottom90{margin-bottom: 90px;}


.padding0{padding: 0px;}
.pg10{padding: 10px;}
.bg10{margin: 10px;}
.pg15{padding: 15px;}


.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb40{padding-bottom:40px;}

.pt15{padding-top:15px;}
.pt20{padding-top:20px;}


.right5{margin-right: 5px;}
.right10{margin-right: 10px;}

.left5{margin-left: 5px;}
.left10{margin-left: 10px;}
.left15{margin-left: 15px;}
.left20{margin-left: 20px;}

.left40{margin-left: 40px;}


.pr10{padding-right: 10px}

.pl{padding-left: 10px}

.pull-left{float: left;}
.pull-right{float: right;}

.rounded-0{border-radius: 0;}
.rounded-circle {border-radius: 50%;}
.rounded{border-radius: .25rem;}
.rounded-top {border-top-left-radius: .25rem;border-top-right-radius: .25rem;}
.rounded-bottom {border-bottom-right-radius: .25rem;border-bottom-left-radius: .25rem;}
.rounded-left {border-top-left-radius: .25rem;border-bottom-left-radius: .25rem;}
.rounded-right {border-top-right-radius: .25rem;border-bottom-right-radius: .25rem;}


input,textarea,select{font-size: 14px;  font-weight: 400;}
form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 16px;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}
.overflow{
  overflow: auto;
  height: 100%;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.list-group-item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem .5rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e9ecef;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}
th {
  text-align: left;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: block;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  /*-moz-box-shadow: 2px 3px 15px #cecece;
  -webkit-box-shadow: 2px 3px 15px #cecece;
  box-shadow: 2px 3px 15px #cecece;*/
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: .63rem
}

.carousel-preview button{
  margin-top: .13rem;
}


.styled-select select {
  background: transparent;
  width: 100%;
  padding: 5px;
  color: #7f7e81;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
}

.styled-select {
  width: 100%;
  overflow: hidden;
  background: #eeeeee url(../imgs/icon_localizacao.png) top 0.63rem  left 0.38rem no-repeat;
  border: 1px solid #ccc;
  height: 3.19rem;
  border: 0.01rem solid #000;
  color: #000;
  padding: 0.69rem 1.38rem;
  margin-bottom: 0.5rem ;
  margin-top: 0.07rem;
}



.input-form{height: 1.88rem /* 30/16 */; background: #f6f6f6; border:0; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.input-form1{height: 1.88rem /* 30/16 */; background: #f8f7f7;border: 1px solid #6e6e6c; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.campo-textarea{padding-top: 10px;height: 8rem}
.btn_formulario{/*position: absolute;*/bottom: 0;border-radius: .31rem /* 5/16 */;font-size: .75rem;color: #fff;background: #f6f6f6;font-weight: 700;cursor: pointer;}
.orcamento-input .input-form{ padding: 0.13rem 1.013rem;}
.trabalhe_conosco b{font-size: .88rem; color: #000;}
/* CONTATO */

/* CONTATO */
.btn_prod_solicitar_orcamento{background: #002953; color: #fff; display: block; width: 100%;}
.btn_prod_ligar{background: #b0001d; color: #fff; display: block; width: 100%;}
.input-lista-prod-orcamentos{background: #ffcb29;color: #fff; width: 1.88rem ; height: 1.88rem ; text-align: center;}

.tabela-orcamento tbody tr td {
  border-top:  0;
  border-bottom: 1px solid #cecece;
  padding: 4px;
  font-size: .63rem;
}

.fa-times-circle:before {
  color: #464646
}

.fundo_contatos{
  background: url(../imgs/fundo_contatos.png)top 30px right no-repeat;
  width: 100%;
  height: 100%;
}

.tabela-orcamento tbody tr{
  border-bottom: 1px solid #002953;

}


.trabalhe_conosco .form-control-feedback{
  position: absolute;
  color: #000;
  top: 8px;
  left: 0.63rem /* 10/16 */;
}

.curriculo input{
  padding-top: 0.88rem;
}
.trabalhe_conosco .curriculo b{top: 2px;left: 36px;position: absolute;}



.total-resultado-busca span,.total-resultado-busca h1{
  font-weight: 700;
  color: #083dad;
  font-size:16px;
}


.bg_branco{
  background: #fff;
}

.menu_lateral{
  background: #fff;
  padding-top: 0;
}

.menu_lateral .list-group-item:first-child{
  margin-top: 0px;
}

.menu_lateral .list-group-item {
  background-color: #f78336;
  border: none;
  color: #252525;
  margin-top: 8px;
  padding: .44rem .5rem;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.menu_lateral .ativo{
  background-color: #e2cd2d;
  color: #fff;
  cursor: default;
}

.menu_lateral .list-group-item.active{
  z-index: 2;
  color: #fff;
  background-color: #f78336;
  font-weight: 700;
}

a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

.menu_lateral .list-group-item:hover {
  z-index: 2;
  color: #252525;
  background-color: #fef922;
  font-weight: 400;
}


.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 1px .31rem;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary{
  background: #283239;
  color: #fff;
}

.btn{
  border-radius: 0;
}

.text-uppercase {text-transform: uppercase;}
.text-capitalize{text-transform: capitalize;}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 10px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.thumbnail .caption {
  padding: 5px;
  color: #333;
}

.relativo{position: relative;}
.form-control-feedback{
  position: absolute;
  color: #000;
  top: 8px;
  left: 0.63rem /* 10/16 */;
}

.media {display: -ms-flexbox;display: flex;-ms-flex-align: start;align-items: flex-start;}
.d-flex {
  display: -ms-flexbox;
  display: flex;
}
*, ::after, ::before {box-sizing: border-box;}
.ml-auto, .mx-auto {margin-left: auto;}
.mr-3, .mx-3 {margin-right: 1rem;}
.ml-3{margin-left: 1rem;}
.ml-1 {margin-left: .25rem;}
.mr-1{margin-right: .25rem;}

.align-self-center {-ms-flex-item-align: center;align-self: center;}
.align-self-start {-ms-flex-item-align: start;align-self: flex-start;}
.align-self-end {-ms-flex-item-align: end;align-self: flex-end;}
.media-body {-ms-flex: 1;flex: 1;}
.p-3 {padding: 1rem;}
.p-1 {padding: .25rem;}
.p-2 {padding: .50rem;}

.mt-0, .my-0 {margin-top: 0;}
.mb-0, .my-0 {margin-bottom: 0;}

.font-weight-light {font-weight: 300;}
.font-weight-normal p{font-weight: 400;}
.font-weight-bold {font-weight: 700;}


/* =====================================================  */
/*  MUDA A COR DO BOTAO AO CLICAR PARA ENVIAR A MENSAGEM  */
/* =====================================================  */
button:disabled,
button[disabled]{
  background-color: #64567b;
  color: #fff;
}


h1 {font-size: .75rem /* 12/16 */;color: #fff;font-weight: 400;}
h1 span{font-size: 1.31rem /* 21/16 */;color: #fff;font-weight: 700;}
h2{font-size: 1rem /* 16/16 */;color: #fff;font-weight: 700;}
h2 span{}
  h3 {}
    h4{}
      h4 span{}
        h5{}
          h6 {font-size:.75rem /* 12/16 */;color: #8f9092;font-weight: 600;}
          h6 span {}

          p{font-size: .88rem /* 14/16 */;font-weight: 400;color: #000;text-align: justify;line-height: 1.25rem /* 20/16 */}
          p span{}

            a, a:visited{text-decoration: none;color: #000;}

            .lightbox {
              background: rgba(0,0,0,0.8);
              width: 100%;
              height: 100%;
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
            }
