/* =============== EMPRESA =============== */

.localizacao-pagina {
    height: 6.75rem /* 108/16 */;
    padding-top:2.31rem /* 37/16 */;
}


.mont{font-family: 'Montserrat', sans-serif;}
.Raleway{font-family: 'Raleway';}


.bg-index {
  background: url("./imgs/bg-index.jpg") top  center no-repeat;
  width: 100%;
  background-size: 100%;
}

.font-index h1 {
  color: #fff;
  text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
  font-size: .88rem;
  font-weight: 700;
  opacity: 1;
  text-align: center;
}

.font-index p{
  font-size: 1.06rem;
  color: #000;
  font-weight: 400;
}

.empresa_geral h2{
  color: #8f9092;
  font-weight: 700;
}

.btn_ligue{
  background: #0c7ba4;
  font-weight: 400;
  color: #fff;
  font-size: .75rem /* 12/16 */;
}

.btn_amarelo{
  background: #ffcc29;
  font-weight: 600;
  color: #fff;
  font-size: .56rem /* 9/16 */;
}

.produtos .card{
  border: 0;
  background: #f8f8f8;
}

.produtos .card{
  border: 0;
  background: #f8f8f8;
}

.bg_produtos_home {
    position: absolute;
    bottom: 15px;
    background: url(../imgs/bg_transparente1.png);
    height: 56px;
    left: 9%;
}

.desc_titulo_home{
  overflow: hidden;
  height: 27px;
}

.btn_azul{
  background: #42c4f4;
}

.bg_branco_borde{
  border-bottom: 1px solid #f6f6f6;
}

.numero{
  background: none;
  color: #0c7ba4;
  font-weight: 600;
  font-size: 1rem /* 16/16 */;
}

.geral .titulo_table th{
	background: url(../../imgs/bg_degrader.png);
	border: 0;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
}

.geral .table .titulo_table{
	margin: 0;
}

.geral .titulo_table1 th{
	background: #c9cbcb ;
	border: 0 ;
	font-weight:400;
}

.geral .table tbody tr th {
	font-size: .75rem /* 12/16 */;
line-height: 14px;
}


.btn-danger{
  background: #dc3545;
  color: #fff;
}

.btn-danger span{
  color: #fff;
}

.whatsappFixed{
  position: fixed;
  right: 0px;
  bottom: 30px;
}