.topo{ text-align: center;padding: 2px 0px 2px 0px;}
.rodape{background: #22adc3; height: 40px; color: #fff; position: fixed; bottom: 0px;padding: 10px 0px 0px 0px; z-index: 999;}
.rodape a{color: #fff; text-decoration: none; font-size: .88rem /* 14/16 */;font-weight: 700;}
.separador-rodape{height: 3.13rem;}
.btn-topo{background: none; color: #fff;}

.menu-mobile-principal{background: #22adc3;}
.menu-mobile li{
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
}
.menu-mobile li a:visited, .menu-mobile li a{color: #001d33;font-size: 1rem;}
.bg_topo{background:url(../imgs/bg_topo.png) top  center ;height: 3.75rem /* 60/16 */;line-height: 4;}
